*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* Common classes Start */
.container{
    width: 88%;
    max-width: 1360px;
    margin: 0 auto;
}
.btn{
    padding: 12px 16px;
    background-color: #469165;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    font-weight: 600;
}
.btn:hover{
    box-shadow: 0 8px 16px rgba(17, 6, 6, 0.2);
    color: #ffffff;
    background-color: #0c561e;
    transition: .5s;
}
/* Common classes End */
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}
#navbar ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
#navbar ul a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}
#banner{
    background-image: url("./assets/hero-bg.png");
    padding: 70px 120px 134px 120px;
}
.banner-content{
    text-align: center;
}
.banner-top-btn{
    border-radius: 1000px;
    background-color: rgba(255, 255, 255, 1);
    color: #30B868;
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    font-weight: 500;
    margin-bottom: 16px;
}
.banner-top-btn:hover{
    background-color: rgb(209, 204, 204);
    box-shadow: 0 8px 16px rgba(17, 6, 6, 0.2);
    transition: .5s;
}
.banner-content h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 74px;
    margin-bottom: 16px;
    color: #ffffff;

}
.banner-content p{
    font-size: 18px;
    line-height: 12px;
    color: #ffffff;
    margin-bottom: 32px;
}
.btn-transparent{
    padding: 11px 15px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #ffffff;
    font-weight: 600;
    margin-left: 16px;
}
.btn-transparent:hover{
    box-shadow: 0 8px 16px rgba(17, 6, 6, 0.2);
    background-color: #0c561e;
    transition: .5s;
    border: 1px solid transparent;

}
