*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* Common classes Start */
.container{
    width: 88%;
    max-width: 1360px;
    margin: 0 auto;
}
.btn{
    padding: 12px 16px;
    background-color: #469165;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    font-weight: 600;
}
.btn:hover{
    box-shadow: 0 8px 16px rgba(17, 6, 6, 0.2);
    color: #ffffff;
    background-color: #0c561e;
    transition: .5s;
}
.btn img{
    vertical-align: middle;
}
/* Common classes End */
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}
#navbar ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
#navbar ul a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}
#navbar ul a:hover{
    color: rgb(93, 91, 91);
}
#banner{
    background-image: url("./assets/hero-bg.png");
    padding: 70px 120px 134px 120px;
    margin-bottom: 40px;
}
.banner-content{
    text-align: center;
}
.banner-top-btn{
    border-radius: 1000px;
    background-color: rgba(255, 255, 255, 1);
    color: #30B868;
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    font-weight: 500;
    margin-bottom: 16px;

}
.banner-top-btn:hover{
    background-color: rgb(209, 204, 204);
    box-shadow: 0 8px 16px rgba(17, 6, 6, 0.2);
    transition: .5s;
}
.banner-top-btn img{
    width: 20px;
    vertical-align: middle;
}
.banner-content h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 74px;
    margin-bottom: 16px;
    color: #ffffff;

}
.banner-content p{
    font-size: 18px;
    line-height: 12px;
    color: #ffffff;
    margin-bottom: 32px;
}
.btn-transparent{
    padding: 11px 15px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #ffffff;
    font-weight: 600;
    margin-left: 16px;
}
.btn-transparent:hover{
    box-shadow: 0 8px 16px rgba(17, 6, 6, 0.2);
    background-color: #0c561e;
    transition: .5s;
    border: 1px solid transparent;

}
#card-section{
    margin-bottom: 120px;
}
.card-container-title{
    text-align: center;
    margin-bottom: 44px;
}
.card-container-title h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #001931;
}
.card-container-title p{
    color: #627382;
}

.card{
    background-color: #FFFFFF;
    padding:70px 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}
.card h3{
    color: #001931;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
}
.card p{
    color: #627382;
}
.card img{
    background-color: #F95555;
    border-radius: 90px;
    padding: 15px;
}
.card *{
    margin-bottom: 16px;
}

.card-container{
    display: flex;
    gap: 24px;
    text-align: center;
}
#img-section{
    margin-bottom: 120px;
}
#img-container{
    display: flex;
    gap: 60px;
    align-items: center;

}

#img-container .big-img {
  width: 45%;
  max-width: 100%;
  border-radius: 8px;
}

.img-content h6{
    margin-bottom: 16px;
    text-transform: uppercase;
    color: #469165;
    font-weight: 500;
    font-size: 16px;
}
.img-content h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.img-content p{
    color: #627382;
    margin-bottom: 40px;
}
.img-content ul{
    list-style: none;
    
}
.img-content ul li{
    margin-bottom: 16px;
}
.img-content ul li img{
    vertical-align: middle;
}
#early-access{
    margin-bottom: 120px;
}

#early-access-container{
    background-color: #F7F6F2;
    border-radius: 12px;
    text-align: center;
    padding: 80px 40px;
}
#early-access-container h2{
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: bold;
    color: #001931;
}
#early-access-container .pra1{
    margin-bottom: 24px;
    color: #627382;
    font-size: 16px;
}
#early-access-container .pra2{
    margin-top: 16px;
    font-size: 16px;
    color: #627382;

}
#footer{
    background:  rgba(0, 25, 49, 1);
}
#footer-container{
    padding-top: 120px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;

}
.footer-text-icon{
    color: #ffffff;
}
.footer-text-icon p{
    margin-bottom: 10px;
}
.copyright{
    color: #ffffff;
    text-align: center;
    border-top: 1px solid #70767b50;
    padding: 30px 0;
}
.icon-s{
    color: #ffffff;
    text-decoration: none;
}
#icon-x{
    color: #000000;
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 14px;
}
#icon-in{
    border-radius: 50%;
    padding: 5px;
}