*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* Common classes Start */
.container{
    width: 88%;
    max-width: 1360px;
    margin: 0 auto;
}
.btn{
    padding: 12px 16px;
    background-color: #469165;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    font-weight: 600;
}
.btn:hover{
    box-shadow: 0 8px 16px rgba(17, 6, 6, 0.2);
    color: #ffffff;
    background-color: #0c561e;
    transition: .5s;
}
/* Common classes End */
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 16px 0;
}
#navbar ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
#navbar ul a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}